$mininav__background: map-get($baseColours, grayCharcoal);
$mininav__border: map-get($baseColours, grayDark);
$mininav__link: map-get($baseColours, grayBlue);
$mininav__font: map-get($brandColours, primaryFont);
