.c-footer-nav {
  &__container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-color: $footer-nav__background
  }

  &__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: .25rem;

    list-style: none;
  }

  &__item {
    padding-bottom: .5rem;

    color: $footer-nav__items;
    font-size: .85rem;

    &--title {
      padding-bottom: .75rem;

      font-size: 1rem;
      font-weight: map-fetch($typography, weight, bold);
    }
  }

  &__link {
    color: $footer-nav__items;
  }
}
